<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f2f2f2;
        }
      </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Órdenes de Venta</title>
  
</head>
<body>

  <h1>Listado de Órdenes de Venta</h1>
  <table>
    <thead>
      <tr>
        <th>Nro Orden Venta</th>
        <th>Fecha Emisión</th>
        <th>Motivo</th>
        <th>Situación</th>
      </tr>
    </thead>
    <tbody>
      <% ordenesVenta.forEach(ordenVenta => { %>
        <tr>
          <td><%= ordenVenta.NroOrdenVta %></td>
          <td><%= ordenVenta.fechaEmision %></td>
          <td><%= ordenVenta.Motivo %></td>
          <td><%= ordenVenta.Situacion %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
