<table>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f2f2f2;
        }
      </style>
    <thead>
      <tr>
        <th>CodTipoMed</th>
        <th>descripcion</th>
      </tr>
    </thead>
    <tbody>
      <% tiposMedic.forEach(tipoMedic => { %>
        <tr>
          <td><%= tipoMedic.CodTipoMed %></td>
          <td><%= tipoMedic.descripcion %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  